# Object file
*.o

# Ada Library Information
*.ali

.classpath
.project
HELP.md

target/
!**/src/main/**/target/
!**/src/test/**/target/

.settings/
!**/src/main/**/.settings/
!**/src/test/**/.setting
